{
    "presets": ['env', 'stage-0'
    ],
    "plugins": ['transform-runtime',
        [
            "component",
            [
                {
                    "libraryName": "mint-ui",
                    "style": true
                }
            ]
        ]
    ],
    "ignore": "./views/lib/mui-master/dist/js/mui.js"
}